<%- include ('partials/header') %>

<h1 class="text-5xl mt-8">Tabuada</h1>
<p>Escolha um número para gerar uma tabuada</p>
    
<table class="table-auto mt-8 w-1/2 text-white bg-gray-800 mb-4">
  
  <tbody>

    <% num.map(n => { %>
      <tr class="bg-blue text-center border-b-2 border-gray-500">
        <td class="p-3">
          <a href="/tabuada/do/<%= n %>"> Tabuada do <%= n %></a>
        </td>
      </tr>
    <% }) %>
    
  </tbody>
</table>
  
<%- include ('partials/footer') %>